* {
  background-image: none;
  font-family: "Roboto";
  font-size: 44px;
}

@import "colors.css";

window {
  background-color: rgba(0, 0, 0, 0.9);
}

button {
  color: @fg;
  background-color: @bg;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  margin: 0px;
}

button:focus {
  background-color: @active-bg;
  background-size: 15%;
}

button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
  background-size: 15%;
}

button:hover#lock {
  background-image: url("icons/lock_black.png");
  margin-top: -30px;
  margin-left: -30px;
}

button:hover#logout {
  background-image: url("icons/logout_black.png");
  margin-top: -30px;
  margin-right: -30px;
}

button:hover#shutdown {
  background-image: url("icons/shutdown_black.png");
  margin-right: -30px;
  margin-bottom: -30px;
}

button:hover#reboot {
  background-image: url("icons/reboot_black.png");
  margin-bottom: -30px;
  margin-left: -30px;
}

#lock {
  background-image: url("icons/lock.png");
}

#logout {
  background-image: url("icons/logout.png");
}

#shutdown {
  background-image: url("icons/shutdown.png");
}

#reboot {
  background-image: url("icons/reboot.png");
}
