@import "colors.css";

* {
  font-family:
    "Cascadia Mono", "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @fg;
  transition-duration: 0.5s;
  transition-property: background-color;
}

#clock,
.modules-left {
  background-color: @bg2;
  border-radius: 25px;
  padding: 0 20px;
}

.modules-left {
  padding: 0 8px;
}

#custom-app-launcher {
  color: @blue-arch;
  border-radius: 20px;
  margin: 0px 5px 0px 5px;
}

#custom-dots {
  font-size: 18px;
  color: @blue-arch;
  margin: 0px 0px 0px 10px;
}

#workspaces button {
  color: @cyan;
  padding: 0px 4px;
}

#workspaces button:hover {
  background: inherit;
  color: @fg;
}

#workspaces button.urgent {
  color: @alert;
}

#group3,
#group2,
#group1,
#tray {
  border-radius: 25px;
  padding-left: 18px;
}

#custom-mediaplayer {
  margin: 0px 16px;
  transition: all 0.3s ease;
}

#group3 {
  background-color: @bg2;
}

#group2 {
  background-color: @bg1;
}

#group1 {
  background-color: @bg2;
}

#tray {
  background-color: @bg3;
  margin-right: -2px;
}

#battery {
  margin-right: 10px;
}

#backlight,
#pulseaudio,
#power,
#tray {
  background-color: @bg2;
  border-radius: 25px;
  padding: 0px 12px;
  margin: 0px 4px;
}

#network {
  margin-right: 15px;
}

#pulseaudio.muted {
  color: @blue-gray;
}

#pulseaudio.bluetooth.muted {
  color: @blue-gray;
}

#battery.charging {
  color: @burnt-sienna;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.critical:not(.charging) {
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power-menu {
  color: @alert;
  margin-right: 20px;
  margin-left: 10px;
}
