[user]
	name = Justice Nyaga
	email = justiceevansmwema@gmail.com
[init]
  defaultBranch = main
[credential]
	helper = /usr/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nvim
	autocrlf = input
[credential "https://azuredevops.britam.com"]
	provider = generic
